<?taglib uri="http://labels.ats.pedrioko/taglib" prefix="my"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<div apply="org.zkoss.bind.BindComposer"  xmlns:ca="client/attribute"
     viewModel="@id('mm') @init('com.gitlab.pedrioko.core.zk.viewmodel.Menu')" xmlns:n="native">
    <div sclass="nav">
        <div sclass="nav" children="@load(mm.navmenues)">
            <template name="children" var="node">
                <n:li sclass="nav-item">
                    <a zclass="nav-link  h-100" label="@load(my:l(node.label,node.label))"
                       iconSclass="@load(node.icon)" href="javascript:void(0)"
                       onClick="@command('clickAction', action=node)"
                    />
                </n:li>
            </template>
        </div>

        <div sclass="nav" children="@load(mm.menues.entrySet())">
            <template name="children" var="node">
                <n:li sclass="nav-item dropdown">
                    <a zclass="nav-link dropdown-toggle h-100" ca:data-toggle="dropdown" href="#" ca:role="button"
                       ca:aria-haspopup="true" ca:aria-expanded="false"
                       label=" @load(my:l(node.key,node.key))">
                    </a>
                    <div children="@load(node.value)"
                         sclass="flex-column justify-content-start p-0 m-0 dropdown-menu  round-menu "
                         ca:x-placement="bottom-start"
                         style="min-width: 16rem; position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <template name="children" var="submenu">
                            <button zclass="btn btn-outline-dark btn-sm btn-block mt-0"
                                    label="@load(submenu.label)"
                                    iconSclass="@load(submenu.icon)"
                                    onClick="@command('clickAction', action=submenu)"
                            />
                        </template>
                    </div>
                </n:li>
            </template>
        </div>
        <div zclass="nav ml-auto mt-auto">
            <n:li class="nav-item avatar ats-dropdown ">
                <a zclass="nav-link p-1" href="javascript:void(0)">
                    <image width="50px" height="50px" sclass="img-thumbnail rounded-circle"
                           content="@bind(mm.image)"
                    />
                </a>
                <div zclass="ats-dropdown-content">
                    <button zclass="btn btn-outline-danger btn-sm btn-block m-0"
                            label="@load(my:l('perfil','Perfil'))"
                            iconSclass="z-icon-user"
                            onClick="@command('profile')"
                    />
                    <button zclass="btn btn-outline-danger btn-sm btn-block m-0"
                            label="Logout"
                            iconSclass="fas fa-sign-out-alt"
                            onClick="@command('logout')"
                    />
                </div>
            </n:li>
        </div>
    </div>

</div>